@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.hind-madurai {
    font-family: "Hind Madurai", sans-serif;
}


.navbar {
    justify-content: space-between;
    padding-left: 60px;
    padding-top: 24px;
}

.nav-logo {
    width: 196px;
    height: 50px;
}

.nav-btn {
    display: flex;
    align-items: end;
    align-items: center;
    margin-right: 20px;
    font-size: 1rem;
    color: rgba(65, 255, 107, 0.1);
}

